<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add House</title>
</head>
<body>
<form action="/houses" method="post">
    <input type="text" name="square" placeholder="enter squares meters">
    <input type="text" name="city" placeholder="please enter your city">
    <input type="text" name="price" placeholder="enter your price">
    <input type="submit">
</form>
</body>
</html>