<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LUN</title>
    <style>
        .greetdiv {
            width: 200px;
            height: 200px;
            background-color: green;
        }
    </style>
</head>
<body>
    <div class="greetdiv">HELLO I'M LUN=)</div>

    <form action="/login" method="get">
        <button>LOGIN</button>
    </form>

    <form action="/register" method="get">
        <button>REGISTER</button>
    </form>
    <p></p>
    <form action="/house">
        <button>AddYourHouse</button>
    </form>
    <p></p>
    <form action="/search" method="post">
        <input type="text" name="city" placeholder="please enter finding city">
        <input type="submit">
    </form>
    <p></p>
    <form action="update">
        <button>UPDATE</button>
    </form>
    
</body>
</html>