<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
</head>
<body>
<form action="/newUser" method="POST" required>
<input type="text" name="name" placeholder="enter your user name">
    <p></p>
    <input type="email" name="email" placeholder="enter your email">
    <p></p>
    <input type="password" name="password" placeholder="enter your password">
    <p></p>
    <input type="text" name="surname" placeholder="enter your user surname">
    <p></p>
    <input type="text" name="city" placeholder="enter your user city">
    <p></p>
    <input type="submit">
</body>
</html>