<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body >

<form action="/houses" method="post">
    <input type= "text" name="city">
    <input type= "number" name="metres">
    <input type= "text" name="street">
    <input type= "number" name="price">
    <input type= "submit">
</form>
</body>
</html>